/* Use CSS based on classes e.g .class{} 
   #id{} for different elements in a class */

/* whole container*/
.container{
  display: flex;
  gap: 80px;
}

.sliders{
  width: 300px;
}

/* Style the slider container */
.slidecontainer {
  width: 300px; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  border-radius: 5px;  /* For round slider */
  width: 100%; /* Full-width */
  height: 15px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: black; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 40px; /* Set a specific slider handle width */
  height: 30px; /* Slider handle height */
  /*background: #04AA6D; *//* Green background */
  cursor: pointer; /* Cursor on hover */
}

/* This targets browsers using the Mozilla engine, mainly: Mozilla Firefox */
.slider::-moz-range-thumb {
  width: 40px; /* Set a specific slider handle width */
  height: 30px; /* Slider handle height */
  cursor: pointer; /* Cursor on hover */
}

/* Individual styling for sliders*/

#trafficSlider::-webkit-slider-thumb {
  background: url('images/car.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#trafficSlider::-moz-range-thumb {
  background: url('images/car.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#touristSlider::-webkit-slider-thumb {
  background: url('images/plane.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#touristSlider::-moz-range-thumb {
  background: url('images/plane.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#litterSlider::-webkit-slider-thumb {
  width: 30px;
  height: 30px;
  background: url('images/paperball.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#litterSlider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  background: url('images/paperball.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#rainfallSlider::-webkit-slider-thumb {
  width: 20px;
  height: 60px;
  background: url('images/raindrop.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#rainfallSlider::-moz-range-thumb {
  width: 20px;
  height: 60px;
  background: url('images/raindrop.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#tempSlider::-webkit-slider-thumb {
  width: 20px;
  height: 60px;
  background: url('images/thermometer.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#tempSlider::-moz-range-thumb {
  width: 20px;
  height: 60px;
  background: url('images/thermometer.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* simulation part */

.simulation-area{
  display: flex;
  gap: 30px;
}
.simulation{
  width: 550px;
  height: 250px;
}

#greenImage{
  width:100%;
  height:auto;
}

.simulationText{
  /* takes remaining space of flex*/
  flex: 1;
}